<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="LMLoggerConfiguration">
    <sources>
      <!-- ローカル -->
      <add name="LMLoggerConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\src\com\ini\LMLogger.config"/>
      <!-- 発行 -->
      <!--<add name="LMLoggerConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="\\svtyo218db\LOGConfig\LMLogger2017.config"/>-->
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <system.diagnostics>
    <sources>
      <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <!-- ローカル -->
    <add key="WebServiceURL" value="http://localhost:3333/WebServiceInterFace.asmx"/>
    <!-- 開発サーバ -->
    <!--<add key="WebServiceURL" value="http://10.1.10.103/LMDVP2017/web/WebServiceInterFace.asmx" />-->
    <!-- 機械テスト１ -->
    <!--<add key="WebServiceURL" value="http://DPSVWEB-12/LMDVP2017/web/WebServiceInterFace.asmx"/>-->
    <!-- 機械テスト２ -->
    <!--<add key="WebServiceURL" value="http://DPSVWEB-13/LMDVP2017/web/WebServiceInterFace.asmx"/>-->
    <!-- 本番サーバ１（FFEM用） -->
    <!--<add key="WebServiceURL" value="http://SVWEB-40/LMPRD2017/web/WebServiceInterFace.asmx"/>-->
    <!-- 本番サーバ２（FFEM用） -->
    <!--<add key="WebServiceURL" value="http://SVWEB-41/LMPRD2017/web/WebServiceInterFace.asmx"/>-->
    <!-- 本番サーバ３ -->
    <!--<add key="WebServiceURL" value="http://SVWEB-42/LMPRD2017/web/WebServiceInterFace.asmx"/>-->
    <!-- 本番サーバ４ -->
    <!--<add key="WebServiceURL" value="http://SVWEB-43/LMPRD2017/web/WebServiceInterFace.asmx"/>-->
    <!-- 本番サーバ５ -->
    <!--<add key="WebServiceURL" value="http://SVWEB-44/LMPRD2017/web/WebServiceInterFace.asmx"/>-->
    <!-- 本番サーバ６ -->
    <!--<add key="WebServiceURL" value="http://SVWEB-45/LMPRD2017/web/WebServiceInterFace.asmx"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
